<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Framework Guru</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    
	<div class="panel panel-success">
		
		<div class="panel-heading"> 
    		<h3 class="panel-title">Filtro de busqueda</h3> 
    	</div>
		<div class="panel-body">
		<form class="form-inline">
		  <div class="col-lg-6">
		  	<label>
		  		<input type="checkbox">Telefono</input>
		  	</label>
		  </div>
		  <div class="col-lg-6">
		  </div>
		  <div class="col-lg-6">
		  	<label>
		  		<input type="checkbox">Direccion</input>
		  	</label>
		  </div>
		  <div class="col-lg-6">
		  	<label>
		  		<input type="checkbox">Vendedor</input>
		  	</label>
		  </div>
		  <div class="col-lg-6">
		  	<label>
		  		<input type="checkbox">Precio</input>
		  	</label>
		  </div>
		  <div class="col-lg-6">
		  	<label>
		  		<input type="checkbox">Inicio de Contrato</input>
		  	</label>
		  </div>
		  <div class="col-lg-6">
		  	<label>
		  		<input type="checkbox">Fin de Contrato</input>
		  	</label>
		  </div>
		  <div class="col-lg-6">
		  	<label>
		  		<input type="checkbox">Es Bonificado</input>
		  	</label>
		  </div>
		  <div class="col-lg-6">
		  	<label>
		  		<input type="checkbox">Se Vence</input>
		  	</label>
		  </div>
		  </form>
		  <div class="col-lg-6">
		    <div class="input-group">
		      <input type="month" class="form-control" placeholder="Mes"></input>
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button">Buscar</button>
		      </span>
		    </div><!-- /input-group -->
		  </div><!-- /.col-lg-6 -->
		</div><!-- /.row -->
	</div>
    <h2 th:text="#{fieldContratos}"></h2>
			
    <div th:if="${not #lists.isEmpty(contratos)}">
        <table class="table table-striped">
            <tr>
                <th th:text="#{fieldId}"/>
                <th th:text="#{fieldCliente}"/>
            	<th th:text="#{fieldVendedor}"/>
                <th th:text="#{fieldPrecio}"/>
                <th th:text="#{fieldInicio}"/>
                <th th:text="#{fieldFin}"/>
            </tr>
            <tr th:each="contrato : ${contratos}">
                <td th:text="${contrato.id}"><a href="/contrato/${contrato.id}">Id</a></td>
                <td th:text="${contrato.cliente.nombre}">cliente</td>
                <td th:text="${contrato.vendedor}">Vendedor</td>
                <td th:text="${contrato.precio}">Precio</td>
                <td th:text="${contrato.fechaInicio}">Inicio</td>
                <td th:text="${contrato.fechaFin}">Fin</td>
            </tr>
        </table>

    </div>  
    <div th:if="${#lists.isEmpty(contratos)}">
    	<label class="col-sm-2 control-label" th:text="#{fieldNoContratos}"/>
    </div>
</div>

</body>
</html>