<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
    
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
            
            
<style>

#login-box {
	width: 300px;
	padding: 20px;
	margin: 100px auto;
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #e7e7e7;
}
</style>

            
</head>
<body >
	<div class="container">
		<div th:fragment="header">
	        <nav class="navbar navbar-default">
	            <div class="container-fluid">
	                <div class="navbar-collapse collapse">
	                	<a class="navbar-brand" href="#" th:href="@{/}" th:text="#{fieldInicioPag}"></a>
	                    <ul class="nav navbar-nav navbar-right">
	                    	<li><a class="navbar-brand" href="?lang=en">English </a><img class="navbar-brand " th:src="@{/images/bandera_ing.png}" ></img></li>
	                    	<li><a class="navbar-brand" href="?lang=es">Español </a><img class="navbar-brand "  th:src="@{/images/bandera_arg.png}"  ></img></li>
	                    </ul>
	                </div>
	            </div>
	        </nav>
	    </div>
		<div id="login-box">
			<div th:if="${param.error}">
			    Invalid username and password.
			</div>
			<div th:if="${param.logout}">
			    You have been logged out.
			</div>
			<form th:action="@{/login}" method="post">
		    	<div><label> User Name : <input type="text" name="username"/> </label></div>
		    	<div><label> Password: <input type="password" name="password"/> </label></div>
		    	<div><button type="submit" class="btn btn-success" th:text="#{buttonIngresar}"></button></div>
			</form>
		</div>
	</div>
</body>
</html>